body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #191919;
    color:rgba(250,250,250,0.7);
}

.controls {
    margin-bottom: 20px;
}

#output-area {
width: 100%;
max-width: 600px;
height: 150px;
margin-bottom: 20px;
padding: 15px;
font-size: 1.5rem;
border-radius: 8px;
border: 2px solid rgba(0, 0, 0, 0);
resize: none;
background-color: #333333;
color:white;
}

#script-select {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444;
    padding: 8px;
    border-radius: 4px;
    font-size: 1rem;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 800px;
    background: transparent;

}

.letter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333333;
}

.letter-card:hover {
    background-color: rgba(252,221,17,0.1);
}


.letter-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    pointer-events: none;
}

.letter-label {
    margin-top: 10px;
    font-size: 1rem;
    color: #fcec88;
}
